@import url(vars.css);

body{
    position: relative;
    font-size: 16px;
    background-color: var(--color-base);
}

.header{
    z-index: 1;
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ffcd41;
    background: linear-gradient(122deg, #ffe976 0%, #ffcd41 50%, #ffad07 100%);
}
.logo{
    padding: 10px;
    font-size: 1.25em;
    font-family: var(--font-title);
}
.title{
    text-align: center;
    font-size: 1em;
    font-family: var(--font-title);
    color: var(--color-acc);
    line-height: 1.5;
    margin-bottom: 30px;
}
.anchor{
    font-size: .5em;
    font-family: var(--font-title);
    color: #fff;
}
.wrapper{
    text-align: center;
    margin: 0 auto;
    padding: 20px; 
    padding-top: 120px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}

.projects__card{
    max-width: 300px;
    background-color: var(--color-card);
    border-radius: 15px;
    box-shadow: 6px 6px 4px #000;
}
.projects__card:hover{
    transform: rotate(5deg);
    transition-duration: .5s;
    cursor: pointer;
}
.project__preview{
    border-radius: 15px 15px 0px 0px;
}
.project__info{
    padding: 10px;
}
.project__title,
.project__details,
.project__techs{
    font-family: var(--font-text);
    color: var(--color-text);
}
.project__title{
    font-weight: 700;
    font-size: 1.25em;
    margin-bottom: 10px;
    color: var(--color-acc);
}
.project__details{
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 20px;
}

.project__techs{
    display: flex;
    align-items: center;
    gap: 10px;
}
.project__tech{
    border-radius: 15px;
    padding: 4px 12px;
    font-size: .8em;
    font-weight: 400;
}

.project__tech-html{
    background-color: var(--color-tech-html);
}
.project__tech-css{
    background-color: var(--color-tech-css);
}
.project__tech-js{
    background-color: var(--color-tech-js);
}

.arrow{
    transform: rotate(-90deg);
    position: fixed;
    display: none;
    right: 8px;
    bottom: 16px;
}
.arrow:hover{
    cursor: pointer;
    filter:opacity(.8);
}


/* TABLET */
@media screen and (min-width: 600px) {
    body{
        font-size: 18px;
    }
    .header{
        height: 80px;
    }
    .wrapper{
        padding-top: 140px;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

/* LAPTOPS */
@media screen and (min-width: 960px) {
    body{
        font-size: 20px;
    }
    .header{
        height: 100px;
    }
    .wrapper{
        padding-top: 140px;
    }
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .projects__card{
        max-width: 400px;
    }
}

/* DESKTOP OR LARGER SCREENS*/
@media screen and (min-width: 1440px) {
    body{
        font-size: 22px;
    }
    .header{
        height: 100px;
    }
    .wrapper{
        padding-top: 160px;
        max-width: 1440px;
    }
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .projects__card{
        max-width: 400px;
    }
}