:root{
    --font-title: 'Press Start 2P', cursive;
    --font-text: 'Fira Sans', sans-serif;

    --color-base: #252525;
    --color-inv: #dfdfdf;
    --color-accent: #ffcd41;
    --color-text: #808080;

    --color-tech-html: #e54d27;
    --color-tech-css: #006cc0;
    --color-tech-sass: #cd679a;
    --color-tech-boot: #8a0cfb;
    --color-tech-tail: #49abb5;
    --color-tech-js: #f7de30;
    --color-tech-php: #787cb5;
    --color-tech-react: #61dbfb;
    --color-tech-three: #252525;

}

body{
    position: relative;
    font-size: 16px;
    background-color: var(--color-base);
}

.header{
    position: fixed;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ffcd41;
    background: linear-gradient(122deg, #ffe976 0%, #ffcd41 50%, #ffad07 100%);
}
.logo{
    padding: 10px;
    font-size: 1.25em;
    font-family: var(--font-title);
}
.title{
    text-align: center;
    font-size: 1em;
    font-family: var(--font-title);
    color: var(--color-inv);
    margin-bottom: 30px;
}

.wrapper{
    margin: 0 auto;
    padding: 20px; 
    padding-top: 120px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
}

.projects__card{
    max-width: 300px;
    background-color: var(--color-inv);
    border-radius: 15px;
}
.projects__card:hover{
    transform: rotate(5deg);
    transition-duration: .5s;
    cursor: pointer;
}
.project__preview{
    border-radius: 15px 15px 0px 0px;
}
.project__info{
    padding: 10px;
}
.project__title,
.project__details,
.project__techs{
    font-family: var(--font-text);
}
.project__title{
    font-weight: 700;
    font-size: 1.25em;
    margin-bottom: 2px;
}
.project__details{
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
}

.project__techs{
    display: flex;
    align-items: center;
    gap: 10px;
}
.project__tech{
    border-radius: 15px;
    padding: 4px 12px;
    font-size: .8em;
    font-weight: 400;
}

.project__tech-html{
    background-color: var(--color-tech-html);
}
.project__tech-css{
    background-color: var(--color-tech-css);
}
.project__tech-js{
    background-color: var(--color-tech-js);
}

.arrow{
    transform: rotate(-90deg);
    position: fixed;
    right: 8px;
    bottom: 16px;
}
.arrow:hover{
    cursor: pointer;
    filter:opacity(.8);
}


/* TABLET */
@media screen and (min-width: 600px) {
    body{
        font-size: 18px;
    }
    .header{
        height: 80px;
    }
    .wrapper{
        padding-top: 140px;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
    }
}

/* LAPTOPS */
@media screen and (min-width: 960px) {
    body{
        font-size: 20px;
    }
    .header{
        height: 100px;
    }
    .wrapper{
        padding-top: 140px;
    }
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .projects__card{
        max-width: 400px;
    }
}

/* DESKTOP OR LARGER SCREENS*/
@media screen and (min-width: 1440px) {
    body{
        font-size: 22px;
    }
    .header{
        height: 100px;
    }
    .wrapper{
        padding-top: 160px;
        max-width: 1440px;
    }
    .grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .projects__card{
        max-width: 400px;
    }
}